<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "jp.xdomain.wp.yasaimo"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>シルエット寿司クイズ</name>

  <description>
      シルエットで流れてくる寿司を延々と当てるクイズゲーム
  </description>

  <author href="https://github.com/oksho/silhouette-sushi-quiz" email="tkohsuke@gmaill.com">
      Oksho
  </author>

</widget>